<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments.html :: html_head"></head>

<body>

<div th:replace="fragments/fragments.html :: navbar">
</div>
<div class="row">
    <div class="col-md-6 offset-md-3 align-self-center">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1">
                        <img src="https://www.pngkey.com/png/full/73-730477_first-name-profile-image-placeholder-png.png" class="img-thumbnail" alt="profileImage">
                    </div>
                    <div class="col-md-10 align-self-center">
                        <h5 class="card-title">@UserName</h5>
                    </div>
                </div>
                <p class="card-text">Location: Paris</p>
            </div>
            <img th:src="@{../resources/img/post-image.jpg}" class="card-img-top" alt="Post Image">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Description: This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little longer.</p>
                <p class="card-text"><small class="text-muted">Time: 2022-11-28</small></p>

                <p>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Comment
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <form method="POST" action="/comments/add">
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control" placeholder="Leave a comment here" name="comment" style="height: 50px" />
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-success btn-lg" style="height: 50px" >Send</button>
                            </div>
                        </div>
                    </form>
                    <br/>
                    <div class="row">
                        <div class="col-md-10 card card-body">
                            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                        </div>
                        <div class="col-md-1">
                            <img src="https://www.pngkey.com/png/full/73-730477_first-name-profile-image-placeholder-png.png" class="img-thumbnail" alt="profileImage">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript" th:src="@{../resources/js/changeLanguage.js}"></script>

</body>

</html>
