<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html :: html_head"></head>
<body>


<div class="d-flex justify-content-center align-items-center container">
    <div class="row">
        <form th:method="POST" th:action="@{/auth/register}" th:object="${user}" class="form-group">

            <div th:object="${profile}">
                <div class="mb-4">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" th:field="*{username}" id="username">
                </div>
                <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>

                <div class="mb-4">
                    <label class="form-label" for="firstName">First Name</label>
                    <input class="form-control" type="text" th:field="*{firstName}" id="firstName">
                </div>
                <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</div>

                <div class="mb-4">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input class="form-control" type="text" th:field="*{lastName}" id="lastName">
                </div>
                <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</div>

            </div>

            <div class="mb-4">
                <label class="form-label" for="email">Enter email: </label>
                <input class="form-control" type="email" th:field="*{email}" id="email"/>
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>

            <div class="mb-4">
                <label class="form-label" for="password">Enter password: </label>
                <input class="form-control" type="password" th:field="*{password}" id="password"/>
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error
            </div>

            <div class="mb-4">
                <label class="form-label" for="confirmPassword">Confirm Password: </label>
                <input class="form-control" type="password" th:field="*{confirmPassword}" id="confirmPassword"/>
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm Password Error</div>
            <br/>
            <a th:href="@{/auth/login}">Sign in</a>
            <button type="submit" class="btn btn-primary">Create account</button>
        </form>
    </div>
</div>



</body>
</html>